<div class="container">
  <h2><%= @user.name %></h2>

  <marquee>
    <img class="show-img" src="<%= @user.img_url %>" alt="<%= @user.name %>">
  </marquee>

  <h2>My Reviews</h2>
  <% @user.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <%= button_to "Edit This Review", edit_review_path(review), method: :get %>
    <hr>
  <% end %>

  <hr>
  <%= link_to "Index", users_path %>
   
</div>